.system__title{
  text-align: center;
  font-size: 1.5cm;
}
.system__calenderFrame{
  border: 2px solid gray;
  width: 60%;
  height: 500px;
  margin-left: 30%;
}
.system__calenderSlot{
  border: 2px solid gray;
  width: 6%;
  height: 50px;
  position: relative;
}