@import "../node_modules/antd/dist/antd.css";

.system__app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500;
  width: 1000px;
  margin: auto;
}
.system__title{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5cm;
}
.system__margins{
  margin-top: 1%;
  margin-bottom: 1%;
}

.site-calendar-demo-card {
  width: 900px;
  height:200px; 
  border: 5px solid rgb(104, 99, 99);
  /* margin: 100px; */
  border-radius: 2px;
}