.system__app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 500px;
  margin: auto;
}
.system__calendar{
  width: 500px;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  margin: auto;
}
.system__table{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
  width: 500px;
  margin: auto;
  margin-top: 2%;
}
.system__title{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5cm;
  background-color: transparent;
}
.system__margins{
  margin-top: 1%;
  margin-bottom: 1%;
}